<div id="console">
    123123
      <c-header></c-header>
     
      <div>
          <a class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-container" aria-expanded="false" href="javascript:;">
              <span class="caret"></span>
          </a>
          <div  id="sidebar-container" style="position: fixed;left: 0;top:55px;bottom:0px;background:#f00;z-index:99999;" class="collapse navbar-collapse">
              <c-sidebar></c-sidebar>
              234234
          </div>
  
  
          <div id="sidebar-right-fixed" class="service-pad" style="margin-left:188px;background:#f00;" full-height>
              <div ui-view></div>
          </div>
      </div>
  </div>